<h1>Welcome to My Guestbook</h1>
<br>
<%= image_tag("under_construction.gif") %>

<div id="guestbook-entries">
  <p>Guestbook Entries:</p>
  <ul>
    <% @guestbook_entries.each do |guestbook_entry| %>
      <%= guestbook_entry.created_at.strftime("%b %d %Y:") %>
      <%= guestbook_entry.body %>
    <% end %>
  </ul>
</div>

<%= form_for @guestbook_entry do |f| %>
  <%= f.label :body, "Guestbook Entry:" %>
  <%= f.text_area :body %>
  <%= f.submit "Submit" %>
<% end %>
